{% extends 'base.html.twig' %}

{% block title %}mes adresses{% endblock %}

{% block content %}
    <a href="" class="btn btn-info btn-sm float-right" >Ajouter une adresse</a>
    <h1> Ajouter une adresse </h1>
    <a href="{{ path('account') }}" >Retour</a>
    <hr>
    {{ form(form) }}
{% endblock %}
