{% extends 'base.html.twig' %}

{% block title %}mon compte{% endblock %}

{% block content %}
    <h1> Mon compte </h1>
    Bienvenue {{ app.user.firstname }} dans votre compte. <br/>
    C'est dans cette espace que vous allez pouvoir gérer toutes vos informations personelles
    <hr>
        <a href="{{ path('account_password')}}">Modifier mon mot de passe</a><br/>
        -Ajouter mes adresses <br/>
        -Mes commandes<br/>
    <hr>
{% endblock %}

