{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
<h3> Modifier mon mot de passe </h3>
    <a href="{{ path('account')}}">Retourner à mon compte</a>
<hr>
    {{ form(form) }}
<hr>
{% endblock %}
