{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - MM{% endblock %}

{% block content %}
    <div class="block-small">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}
        {{ form (form)}}
    </div>
{% endblock %}
