body {
    position: relative;
}
nav {
    background-color: black !important;
    color: white;
}
.home-index__title {
    position: relative;
    margin-left: 4rem;
    color: black;
    font-weight: 600;
    font-size : 20px;
    text-transform: uppercase;
    text-align: center;
}
.home-index__p {
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 1rem;
    text-align: center;
    color: gray;
    position: relative;
    font-weight: 800;
    text-align: center;
    margin-left: 5rem;
}
.featurette {
    margin-left: 5rem;
}
/* .featurette__left-img-home {
    transform: rotate(-39deg);
}
.featurette__right-img-home img{
    transform:rotate(-45deg)
} */
.products-home {
    margin-left: 3rem;
    margin-right: 2rem;
}
.navbar-item-custom, .navbar-item-custom a {
    color: white;
}

/* Footer */
.footer-custom {
    text-align: center;
    position: absolute;
    z-index: -3;
    color: white;
    width: 100%;
    background-color: black;
    background: linear-gradient(to top, #000, #0000);
    padding-top: 25px;
}
.footer-custom a {
    color: white;
    text-decoration: none;
}
.footer-image {
    margin: auto;
}
/* Produits */
.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}
.product-item {
    margin-top: 50px;
}
.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}
.product-page-price {
    font-size: 18px;
}
.cart-icon {
    height: 20px;
    padding-left: 20px;
    color: #0000
}
.block-small {
    max-width: 600px;
    margin: 0 auto;
}
.form-check {
    background-color: rgb(245, 243, 243);
    padding: 20px 65px;
    margin-top: 20px;
}
.col-form-label {
    font-weight: bold;
}
.order-summary {
    padding: 20px;
    background-color: rgb(245, 243, 243);
    margin-top: 22px;
}
@media screen and (max-width: 438px){
    .products-home {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}