{% extends 'base.html.twig' %}

{% block content %}
    <h3>Formulaire d'inscription</h3>

    {% if notification %}
        <div class="alert alert">{{ notification }}</div>
    {% endif %}

    {{ form(form)}}

{% endblock %}
